{% extends "::layout.html.twig" %}

{% block title %}{{ episode.title }} av {{ episode.program.name }}{% endblock %}

{% block content %}

    {% include ":episode_single:back.html.twig" %}

    <div class="o-grid">
        <div class="o-grid__item u-1/4">
            <img src="{{ episode.imageUrl('api-default-square') }}" alt="{{ episode.title|e('html_attr') }}">
        </div>
        <div class="o-grid__item u-3/4">
            <h1 class="u-m0">
                {{ episode.title }}
                <span class="txt-color-primary txt-md">av {{ episode.program.name }}</span>
            </h1>

            <div class="txt-italic txt-color-light-grey">
                Publicerat {{ episode.publishDateUtc|date("Y-m-d H:i", "Europe/Stockholm") }}
                <span class="text-black">/</span>
                <a href="{{ episode.webUrl }}" class="bare-link" target="_blank">{{ episode.webUrl }}</a>
            </div>

            <p>{{ episode.description }}</p>

            {% if episode.downloadPodFile.duration > 0 %}
                Längd: {{ episode.downloadPodFile.duration|date("H:i:s") }} (utan musik)
            {% endif %}
        </div>
    </div>

    <div>
        <h2 class="txt-xxl text-center u-pv">Låtar i det här avsnittet</h2>

        <div class="js-tracklist-spinner-container tracklist-spinner-container"></div>

        <div class="o-grid">
            {% include ":episode_single:tracklist.html.twig" %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="application/javascript">
        $(function () {
            srList.loadTracks('{{ path('episode_single_tracks', {id: episode.srId}) }}');
        });
    </script>
{% endblock %}
