{% extends "::layout.html.twig" %}
{% block content %}
    <div class="o-grid">
        {% if app.user.imageUrl %}
            <div class="o-grid__item u-1/4">
                <img src="{{ app.user.imageUrl }}" alt="">
            </div>
        {% endif %}
        <div class="o-grid__item u-3/4">
            <h1 class="u-m0">
                {{ app.user.displayName }}
                <span class="txt-color-primary txt-md">({{ app.user.spotifyId }})</span>
            </h1>

            <h2>Spellistor</h2>
            {% if failedToFetchPlaylists %}
                <p class="txt-lg u-pv text-center txt-color-light-grey">Vi kan inte hämta dina spellistor just nu :(</p>

            {% else %}
                <ul class="o-grid">
                    {% for playlist in playlistResponse.items %}
                        <li class="o-grid__item u-1/2@sm-up">
                            <div class="o-grid u-pb">
                                <div class="o-grid__item u-1/6">
                                    {% if playlist.images|length > 0 %}
                                        <img src="{{ playlist.images[0].url }}" alt="{{ playlist.name|e('html_attr') }}">
                                    {% endif %}
                                </div>
                                <div class="o-grid__item u-5/6">
                                    <h3 class="u-m0">{{ playlist.name }}</h3>
                                    <div>
                                        <a href="{{ playlist.uri }}">Öppna i Spotify</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                {% if playlistResponse.next is not null %}
                    <p class="text-center u-pv box-center txt-color-light-grey txt-md">...och ännu fler!</p>
                {% endif %}
            {% endif %}
        </div>
    </div>

{% endblock %}
