{% set start = page > 2 ? page - 2 : 1 %}
{% set end = (start+4) > result.pagination.totalPages ? result.pagination.totalPages : start+4 %}

<div class="pagination">
    <ol class="list-inline">
        {% if (page) > 1 %}
            <li class="pagination__item">
                <a href="{{ path("episodes_search", {q: searchTerm, page: page-1}) }}">
                    <span class="svg-icon">
                        <svg class="svg-icon__svg svg-icon--caret-left svg-icon__svg--color-primary">
                            <use xlink:href="{{ asset("assets/img/sprites.svg") }}#caret"/>
                        </svg>
                    </span>
                </a>
        {% endif %}

        {% if start > 1 %}
            <li class="pagination__item">
                <a href="{{ path("episodes_search", {q: searchTerm, page: 1}) }}">{{ 1 }}</a>
            <li class="pagination__item"><span>...</span>
        {% endif %}

        {% for i in start..end %}
            {% if i == page %}
                <li class="pagination__item pagination__item--current-page txt-bold"><span>{{ i }}</span>
            {% else %}
                <li class="pagination__item">
                    <a href="{{ path("episodes_search", {q: searchTerm, page: i}) }}">{{ i }}</a>
            {% endif %}
        {% endfor %}

        {% if end < result.pagination.totalPages %}
            <li class="pagination__item"><span>...</span>
            <li class="pagination__item">
                <a href="{{ path("episodes_search", {q: searchTerm, page: result.pagination.totalPages}) }}">
                    {{ result.pagination.totalPages }}
                </a>
        {% endif %}

        {% if (page) < result.pagination.totalPages %}
            <li class="pagination__item">
                <a href="{{ path("episodes_search", {q: searchTerm, page: page+1}) }}">
                    <span class="svg-icon">
                        <svg class="svg-icon__svg svg-icon--caret-right svg-icon__svg--color-primary">
                            <use xlink:href="{{ asset("assets/img/sprites.svg") }}#caret"/>
                        </svg>
                    </span>
                </a>
        {% endif %}
    </ol>
</div>
